/*General*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;

}

body{
    background-color: rgba(1, 153, 241, 0.938);
    background: linear-gradient(90deg, rgba(1,153,241,0.75) 0%, rgba(24,164,237,0.8183648459383753) 44%, rgba(0,212,255,1) 100%);   
    min-width: 1024px;
}

/*Nav*/

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 12px;
    align-items: center;
    background : linear-gradient (90deg, rgba(2,255,91,0.7483368347338936) 0%, rgba(24,164,237,0.8183648459383753) 44%, rgba(0,212,255,1) 100%);
    color:rgb(0, 0, 0);
    font-weight: 300;
}
nav div {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav div img{
    height: 60px;
    width: 70px;
}

nav div button{
    background-color: aquamarine;
    font-weight: 900;
    color: blue;
    padding: 6px 12px;
    border-radius: 100px;
    border:none;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, outline 0.5s;
}

nav div button:hover{
    background-color: cyan;
    color: white;
    outline: 2px white solid;
}

nav div p, nav div img {
    cursor: pointer;
    color: black;
    font-weight: 400;
    text-decoration: none;
    transition: text-decoration 0.5s, font-weight 0.5s;
}

nav div p:hover{
    text-decoration: underline;
    font-weight: 900;
    color: white;
    outline: 2px white;
}

/*section*/

main{
    padding: 15px 37px;
    margin: 12px 0;
}

.fila{
    background: rgb(255,255,255);
    background: linear-gradient(142deg, rgba(255,255,255,0.4565475848542542) 0%, rgba(168,173,175,0.6386204139859069) 32%, rgba(255,255,255,0.7758753159466911) 100%);
    border-radius: 100px;
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.fila{
    display:flex;
    gap: 35px;
    align-items: center;
    justify-content: center;

}

main section .columna {
    width : 48vw;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 25px;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.columna h1{
    font-weight: 900;
    padding: 50px 20px;
    color: white;
}

.columna p{
    font-weight: 700;
    padding: 20px 20px;
    color: white;
}

.mas button{
    font-size: 25px;
    background-color: aquamarine;
    font-weight: 900;
    color: blue;
    padding: 6px 12px;
    border-radius: 100px;
    border:none;
    cursor: pointer;
    transition: background-color 0.5s,color 0.5s,outline 0.5s;
}

.mas button:hover{
    background-color: cyan;
    color: white;
    outline: 2px white solid;
}

@keyframes gradient-animation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.text{
    display: flex;
    flex-direction: column;
    padding: 45px;
    color: rgba(107, 107, 107, 0.877);
    align-items: center;
    justify-content: center;
}

.option{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.nueva button{
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.cambio button{
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}